{% extends 'head.html' %}
{% load static %}


	<!-- End Header Area -->
	{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Add Product</h1>
					<nav class="d-flex align-items-center">
						<a href="index">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{%url 'addproduct'%}">Add Product</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	
			<div class="col-lg-6" style="left: 40px;">
                <div class="login_form_inner" style="padding-top: 50px; padding-bottom: 50px;">
                    {% if msg %}
                    <h3 style="color: #08df50;"> {{msg}}</h3>
                    
                    {%endif%}
                    <!-- {% if productimg %}
                    <h3 style="color: #08df50;"> {{productimg}}</h3>
                    <img src="{{productimg.url }}" name="image"  width="500" height="333">
                    {%endif%} -->
                    <form class="row login_form"  action="{% url 'addproduct' %}" method="POST" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <h5 style="margin-right: 372;">Product</h5>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="productname" name="productname" placeholder="Product Name" value="{{uid.productname}}" onfocus="this.placeholder = 'Product Name'" onblur="this.placeholder = 'Product Name'" required>
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand" value="{{uid.brand}}" onblur="this.placeholder = 'Brand'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="file" class="form-control" id="brand" name="productimg" placeholder="image-file" value="{{productimg}}" onblur="this.placeholder = ''">
                            <!-- <img scr="{{productimg}}"></img> -->
                        </div>
                    

                        <div class="col-md-12 form-group">
                            <input type="number" class="form-control" id="price" name="price" placeholder="Price" value="{{uid.price}}" onblur="this.placeholder = 'Price'"  >
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="description" name="Description" placeholder="Description" value="{{uid.description}}"  >
                        </div>

                        <div class="col-md-12 form-group" style="margin-top: 20px;">
                            <button type="submit" value="submit" class="primary-btn">Add Product</button>
                        </div>        
                    </form>
                    {% if productimg %}
                    <h3 style="color: #08df50;"> {{productimg}}</h3>
                    <img src="{{productimg.url}}" name="image"  width="500" height="333">
                    {%endif%}
                </div>         
		    </div>
    {% endblock %}        

