{% extends 'head.html' %}
{% load static %}

	<!-- End Header Area -->
    {% block content %}
    <!-- Start Banner Area -->

    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'cart' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->

    <section class="cart_area">
        <form>
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ====================Logic for adding item to cart======================== -->


                                
                                     <!-- <h3>Product Name : {{get_product_id.productname}}</h3> -->
                                    <!--<h3>Product Price : {{get_product_id.price}}</h3> -->
                                



                                    <script>
                                        function calc(){
                                         document.getElementById('qty').value=qtty;
                                         document.getElementById('ap_price').value = price;
                                         if (qtty=1){
                                             var total = price;
                                            document.getElementById('p_price').value = total
                                            }
                                         else
                                         {
                                             total= qtty*price;
                                             document.getElementById('p_price').value = total
                                         }
                                        }                                                                                
                                    </script>










                            <!-- ===================Logic Section End===================================== -->
                                {% for cart in carts %}
                            <tr>
                                <td>
                                    
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{cart.productimg.url}}" alt="" width="152" height="102">
                                        </div>
                                        <div class="media-body">
                                            <p>{{cart.productname}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>  
                                       <p id="p_price">{{cart.brand}}</p>
                                        
                                    </h5>
                                </td>

                                <td>
                                    <div class="product_count">
                                        <input type="number "   min="1" name="qty" id="qty" maxlength="12" value="1" title="Quantity:"
                                            class="input-text qty">
                                    </div>
                                </td>

                                <td>
                                    <h5>  
                                       <p id="p_price">${{cart.price}}</p>
                                        
                                    </h5>
                                </td>
                            </tr>                                                               
                            {% endfor %}
                            <tr class="bottom_button">
                                
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                
                                <td></td>
                                <td></td>
                                    
                                <td>
                                    <h5>${{totalPrice}}</h5>
                                </td>
                            </tr>
                            </tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </section>
    <!--================End Cart Area =================-->

    {% endblock %}