{% extends 'head.html' %}
{% load static %}

	<!-- End Header Area -->
	{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Edit Profile</h1>
					<nav class="d-flex align-items-center">
						<a href="{%url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{%url 'editprofile'%}">Edit Profile</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	
    <div class="billing_details>
        <div class="row">
            <div  style="margin-left: 50px;" class="col-lg-8">
                {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                {%endif%}


                    <h3>Personal Details</h3>
                    <form  action="{% url 'editprofile' %}" method="POST">
                        {% csrf_token %}

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="FirstName" value="{{uid.firstname}}" class="form-control" id="firstname" name="firstname">
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="LastName" value="{{uid.lastname}}" class="form-control" id="lastname" name="lastname">
                        </div>

                        <div class="col-md-6 form-group p_star">
                              <input type="tel" placeholder="Number" value="{{uid.contactno}}" class="form-control" id="contactno" name="contactno">
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="email" placeholder="Email" class="form-control" value="{{uid.email}}" id="email" name="email" disabled>
                        </div>
                
                        <h3>Address Details</h3>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="Address Line 1" value="{{uid.address}}" class="form-control" id="address" name="address">
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="Address Line 2" value="{{uid.address}}" class="form-control" id="address" name="address">                            </div>
                        

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="City" value="{{uid.city}}" class="form-control" id="city" name="city">
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="State" value="{{uid.state}}" class="form-control" id="state" name="state">
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" placeholder="Country" value="{{uid.country}}" class="form-control" id="country" name="country">                            </div>
                        

                        <div class="col-md-6 form-group p_star">
                            <input type="number" placeholder="Pincode" value="{{uid.pincode}}" class="form-control" id="pincode" name="pincode">
                        </div>

                        <br>

                        <button style="font-size: 15px; margin-left: 12px;" type="submit" value="submit" class="genric-btn success circle">Save Details</button>
                    </form>
                       
        </div>   
            
    </div>
    		
					
	
   
        
    <!--================End Login Box Area =================-->

    {% endblock %}






