{% extends 'head.html' %}
{% load static %}

	<!-- End Header Area -->
	{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forgot Password</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'login' %}">Login<span class="lnr lnr-arrow-right"></span></a>
						<a href="{%url 'forgot_pwd'%}">Forgot Password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static ' img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{%url 'register' %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						{%if msg%}
						<div class="alert alert-danger" role="alert">
                            {{msg}}
                        </div>
						{%endif%}
						<h3>Forgot Password</h3>
						<form class="row login_form" action="{% url 'reset_pwd' %}" method="POST" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="name" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" >
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="sendotp" class="primary-btn">Send OTP</button>
								<a href="#">Forgot Password?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	{% endblock %}
